<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="SubscriberPortalAdminEAR">
        <module-type module-type-id="jst.ear">
            <version>1.4</version>
        </module-type>
        <wb-resource deploy-path="/" source-path="/"/>
        <dependent-module archiveName="USA_TODAY_Middle_Tier.jar" deploy-path="/" handle="module:/resource/USA TODAY Middle Tier/USA TODAY Middle Tier">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="SubsriberPortalAdminModel.jar" deploy-path="/" handle="module:/resource/SubsriberPortalAdminModel/SubsriberPortalAdminModel">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="cls-java-api.jar" deploy-path="lib" handle="module:/classpath/lib/lib/cls-java-api.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-beanutils-1.7.0.jar" deploy-path="lib" handle="module:/classpath/lib/lib/commons-beanutils-1.7.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-chain-1.1.jar" deploy-path="lib" handle="module:/classpath/lib/lib/commons-chain-1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-codec-1.4.jar" deploy-path="lib" handle="module:/classpath/lib/lib/commons-codec-1.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-collections.jar" deploy-path="lib" handle="module:/classpath/lib/lib/commons-collections.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-digester-1.8.jar" deploy-path="lib" handle="module:/classpath/lib/lib/commons-digester-1.8.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-fileupload-1.1.1.jar" deploy-path="lib" handle="module:/classpath/lib/lib/commons-fileupload-1.1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-io-1.1.jar" deploy-path="lib" handle="module:/classpath/lib/lib/commons-io-1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-lang.jar" deploy-path="lib" handle="module:/classpath/lib/lib/commons-lang.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-logging-1.1.1.jar" deploy-path="lib" handle="module:/classpath/lib/lib/commons-logging-1.1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-validator-1.3.1.jar" deploy-path="lib" handle="module:/classpath/lib/lib/commons-validator-1.3.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="edtftpj-pro.jar" deploy-path="lib" handle="module:/classpath/lib/lib/edtftpj-pro.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="httpclient-4.1.2.jar" deploy-path="lib" handle="module:/classpath/lib/lib/httpclient-4.1.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="httpclient-cache-4.1.2.jar" deploy-path="lib" handle="module:/classpath/lib/lib/httpclient-cache-4.1.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="httpcore-4.1.2.jar" deploy-path="lib" handle="module:/classpath/lib/lib/httpcore-4.1.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="httpmime-4.1.2.jar" deploy-path="lib" handle="module:/classpath/lib/lib/httpmime-4.1.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jcifs.jar" deploy-path="lib" handle="module:/classpath/lib/lib/jcifs.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jdom.jar" deploy-path="lib" handle="module:/classpath/lib/lib/jdom.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jt400.jar" deploy-path="lib" handle="module:/classpath/lib/lib/jt400.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jtds-1.2.5.jar" deploy-path="lib" handle="module:/classpath/lib/lib/jtds-1.2.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="log4j-1.2.9.jar" deploy-path="lib" handle="module:/classpath/lib/lib/log4j-1.2.9.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="joda-time-1.4.jar" deploy-path="/lib" handle="module:/classpath/lib/C:/Users/aeast/IBM/rationalsdp/workspaceMain80/USA TODAY LIB/lib/joda-time-1.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="SubscriberPortalAdmin.war" deploy-path="/" handle="module:/resource/SubscriberPortalAdmin/SubscriberPortalAdmin">
            <dependent-object>Module_1327437852367</dependent-object>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>